#logo {
    float: left;
    height: 200px;
    width: 25%;
    background-color: #c3ceb9;
    border-radius: 20px;
}

#bannerImage {
    border-radius: 20px;
}

.tableTournament {

    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

#carousel {
    height: 100%;

}

.tablestyle {
    border-radius: 25px;
    border-style: outset;
    width: 100%;
    font-family: 'Oxygen', sans-serif;
}

#errormessage {
    color: darkred;
}

#banner {
    float: right;
    width: 74%;
    height: 180px;
    background-color: blue;
    border-radius: 20px;
    overflow: hidden;
}

#errortextbox {
    float: right;

}

.errormessagelol {
    color: darkred;
    font-family: "Times New Roman";
    font-size: 12pt;
}

#login {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

#login_space {
    height: 20px;
    width: 74%;
    float: right;

}

#logoff {
    margin-left: 15px;
    float: left;
    text-align: left;
}

#loginlink {
    margin: 0px;
    margin-right: 10px;
    font-size: 12pt;
    font-family: "Times New Roman";
    text-align: right;
}

#welcomemessage {
    float: right;
    margin: 0px;
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 5px;

}

#entete {

}

#form {
    margin-top: 50px;
    margin-left: 150px;
}

#menu {
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    height: 70px;
    width: 100%;
    background-color: #9AA7AE;
}

#logopicture {
    margin-top: 5px;
    margin-left: 20px;
    height: 190px;
    width: 210px;
    border-radius: 20px;
}

#contenu {
    height: 750px;
}

#container {
    border-radius: 20px;
    margin: auto;
    width: 1024px;
    height: 100%;
    background-color: #aac9ce;
}

#gauche {
    overflow: hidden;
    border-radius: 20px;
    background-color: #298cce;
    height: 100%;
    width: 25%;
    float: left;
}

#droite {
    border-radius: 20px;
    background-color: #c9d4db;
    height: 100%;
    width: 74%;
    float: right;

}

#researchForm {
    margin-top: 100px;
    margin-left: 200px;
}

#pied {
    border-radius: 20px;
    width: 100%;
    height: 190px;
    background-color: black;
    margin-top: 15px;

}

.title {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: black;

}

.textright {
    color: black;
    text-align: justify;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.linkitem {
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    padding-top: 20px;
    padding-bottom: 21px;
    width: 25%;
    float: left;
    text-align: center;
}

#footertitle {
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

#intellogo {
    margin-left: 50px;
    float: left;
}

#corsairlogo {
    float: left;
    margin-left: 120px;
}

#msilogo {
    float: left;
    margin-top: 20px;
    margin-left: 45px;
}

.clear {
    clear: both;
}